@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  --header-left-bg: #4731d3;
  --header-right-bg: #caf181;
  --language-color: #caf181;
  --language-rest-color: #d9d9d9;
  --theme-text-color: #4731d3;
  --toggle-switch-bg: #8f88ff;
}
.dark {
  --header-left-bg: #171043;
  --header-right-bg: #1a210b;
  --language-color: #bab2e7;
  --language-rest-color: #777;
  --theme-text-color: #fff;
  --toggle-switch-bg: #3a3a3a;
}
.header {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--header-left-bg) 0%,
    var(--header-left-bg) 70%,
    var(--header-right-bg) 70%,
    var(--header-right-bg) 100%
  );
}
.header .dark {
  background: linear-gradient(
    to right,
    #171043 0%,
    #171043 70%,
    #caf181 70%,
    #caf181 100%
  );
}

.header-top,
.header-top-right {
  display: flex;
  flex-direction: row;
}

.header-top-left {
  margin-top: 50px;
  margin-left: 15%;
}
.header-top-left h3 {
  color: #cbf281;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
.header-top-right {
  width: 80%;
}

.language-options,
.theme-options {
  margin-top: 35px;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}
.language-options {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
  cursor: pointer;
}
.language-options-language {
  color: var(--language-color);
}
.language-options-language-rest {
  color: var(--language-rest-color);
}
.theme-options {
  color: var(--theme-text-color);
}
.toggle-mode {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 100px;
}
.toggle-switch {
  position: relative;
  width: 55px;
  margin-top: 32px;
}
.toggle-switch-label {
  width: 100%;
  height: 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
}
.toggle-switch-input {
  display: none;
  position: absolute;
}
.toggle-switch-button {
  position: absolute;
  width: 100%;
  height: 25px;
  border-radius: 25px;
  transition: 0.3s;

  background-color: var(--toggle-switch-bg);
}

.toggle-switch-button::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 6px 0px 0px 0px #ffe86e;
  transition: 0.3s;
}

.toggle-switch-input:not(:checked) ~ .toggle-switch-button {
  background-color: var(--toggle-switch-bg);
}

.toggle-switch-input:not(:checked) ~ .toggle-switch-button::before {
  background-color: #ffe86e;
  transform: translateX(28px);
}

.header-intro-image {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 100px 10% 0 15%;
}
.header-intro-box {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.header-introduction {
  color: #cbf281;
  font-family: "Inter";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.header-description {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 36px 0;
}
.header-socials {
  display: flex;
  flex-direction: row;
}
.header-socials img {
  margin-right: 12px;
}
.header-image {
  margin-top: -110px;
}

@media screen and (max-width: 1100px) {
  .header-top-left {
    margin-left: 8%;
  }
  .header-intro-image {
    margin: 100px 5% 0 8%;
  }
}
@media screen and (max-width: 850px) {
  .header {
    background: var(--header-left-bg);
  }
  .header-intro-image {
    display: flex;
    flex-direction: column;
  }
  .header-image {
    margin-top: 0;
  }

  .header-top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 6%;
  }
  .language-options {
    margin-right: 0;
  }

  .theme-options {
    color: var(--language-color);
  }
}

@media screen and (max-width: 650px) {
  .header-image {
    margin: 0 0 0 -60px;
  }
}
