@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  --projects-box-bg: #cbf281;
  --projects-header-color: #4731d3;
  --project-item-bg: #fff;
  --project-text-color: #383838;
  --project-tool-button-bg: #4731d3;
  --project-link-color: #120b39;
}
.dark {
  --projects-box-bg: #1a210b;
  --projects-header-color: #cbf281;
  --project-item-bg: #2b2727;
  --project-text-color: #fff;
  --project-tool-button-bg: #8173da;
  --project-link-color: #cbf281;
}
.projects-box {
  background-color: var(--projects-box-bg);
  display: flex;
  flex-direction: column;
  padding-bottom: 84px;
}
.projects-header-box h3 {
  color: var(--projects-header-color);
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.48px;
  margin-left: 16%;
  text-align: start;
  margin-top: 60px;
}
.project-item-box {
  display: flex;
  flex-direction: column;
  width: 67%;
  margin: auto;
  gap: 36px;
}
.project-item {
  display: flex;
  flex-direction: row;
  background-color: var(--project-item-bg);
  border-radius: 12px;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
}
.project-item-name-details {
  margin: 48px 32px 24px 48px;
}

.project-item-name {
  color: #4338ca;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: start;
}
.project-item-details {
  color: var(--project-text-color);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-align: start;
}
.project-item-tools,
.project-item-links {
  display: flex;
  flex-direction: row;
}
.project-item-tools {
  margin: 24px 0;
  column-gap: 6px;
}
.project-tool-circle {
  padding: 8px 18px;
  background-color: var(--project-tool-button-bg);
  color: #fff;
  border-radius: 23px;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.7px;
}
.project-item-links {
  column-gap: 40px;
}
.project-link {
  color: var(--project-link-color);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
}

@media screen and (max-width: 1100px) {
  .projects-header-box h3 {
    margin-left: 8%;
  }
  .project-item-box {
    width: 84%;
  }
}

@media screen and (max-width: 850px) {
  .project-item {
    flex-direction: column;
  }
}
